      @font-face {
        font-family: "netflixwbd";
        src: url("NetflixSans_W_Bd.woff2") format("woff2");
        /* src: url("NetflixSans_W_Md.woff2") format("woff2"); */
        /* src: url("NetflixSans_W_Rd.woff2") format("woff2"); */
      }
      @font-face {
        font-family: "netflixwmd";
        /* src: url("NetflixSans_W_Bd.woff2") format("woff2"); */
        src: url("NetflixSans_W_Md.woff2") format("woff2");
        /* src: url("NetflixSans_W_Rd.woff2") format("woff2"); */
      }
      @font-face {
        font-family: "netflixwrg";
        /* src: url("NetflixSans_W_Bd.woff2") format("woff2"); */
        /* src: url("NetflixSans_W_Md.woff2") format("woff2"); */
        src: url("NetflixSans_W_Rg.woff2") format("woff2");
      }
      .heading {
        font-family: netflixwbd;
        font-size: 2.9em;
        font-weight: 10em;
        color: white;
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 70vh;
        width: 70vw;
        gap: 3%;
        margin: auto;
      }
      .h3 {
        font-family: netflixwrg;
        color: white;
        font-size: 1.45em;
        font-weight: 3;
      }
      .hh {
        font-family: netflixwrg;
        color: white;
        font-size: 1.35em;
        font-weight: 3;
        /* font-size: 1.4em; */
      }

      * {
        padding: 0;
        margin: 0;
      }
      .main {
        text-align: center;
        /* padding: 3%; */
        /* display: flex; */
        min-height: 80vh;
        /* background: linear-gradient(rgb(2 2 3 / 88%), rgb(23 18 22 / 60%)),
          url(bg.jpg); */
        background: radial-gradient(
            ellipse at center,
            rgb(0 0 0 / 44%) 10%,
            /* Brighter center color stop */ rgb(0 0 0 / 72%) 50%,
            /* Middle color stop */ rgb(0 0 0 / 83%) 80%
              /* Darker edge color stop */
          ),
          url(bg.jpg);

        /* background-image: url('bg.jpg'); */
        /* background-size:cover; */
        /* background-position: 50% ; */
        /* background-size: 200% 100%; */
        /* background-repeat: no-repeat; */
        /* filter: brightness(30%); */
        /* Optional: Set background size */
        /* background-size: 100% 100%; */

        /* Optional: Set background position */
        background-position: 50%;
      }
      .netflix img {
        width: 9rem;
        /* filter: brightness(100%) !important; */
      }
      nav {
        display: flex;
        padding: 2%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60%;
        padding: 20px;
      }
      .lan {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
      }

      .b1 {
        text-align: center;
        justify-self: center;
        height: 32px;
        font-family: netflixwrg;
        border: none;
        border-radius: 4px;
        color: white;
        /* width: 2px; */
      }
      .sign {
        font-size: 0.9em;
        font-weight: 900;
        width: 70px;
        background-color: red;
        text-align: center;
        text-size-adjust: 1;
      }
      .langg {
        font-size: 1em;
        background-color: transparent;
        border: 1px solid rgb(96, 94, 91);
        width: 100px;
      }
      .email {
        padding-left: 18px;
        font-weight: 500;
        border-radius: 4px;
        font-size: 17px;
        flex-grow: 1;
        max-width: 370px;
        height: 55px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        border: 1px solid rgb(87, 83, 83);
        font-family: netflixwrg;
      }
      form {
        justify-content: center;
        align-content: center;
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }

      .sub {
        min-width: 200px;
        border-radius: 4px;
        border: none;
        font-size: 25px;
        color: wheat;
        background-color: red;
        font-family: netflixwmd;
      }

      .tv {
        position: absolute;
        z-index: -2;
        background-color: black;
      }
      .tv1 {
        display: flex;
        align-content: center;
        
      }

      .border {
        border-top: 8px solid rgb(59, 58, 58);
      }


      .tv1img {
        overflow: hidden;
        position: relative;
      }

      .tv1img img{
        width: 100%;
      }


      .videoo{
        width: 100%;
        position: absolute;
        z-index: -1;
        top:19%;
        left:13% ;
      }

      .tv1text{
        display: flex;
        flex-wrap: wrap ;
      }